*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul li{
    list-style: none;
}
body,html{
    font-size: 18px;
    font-family: "微软雅黑";
}

.contenty{
	width: 1250px;
	height: auto;
	background: white;
	position: relative;
	left: 50%;
	margin-left: -625px;
}
.topy{
	width: 1250px;
	height: 250px;
	/*border: 1px solid red;*/
}
.topy-top{
	width: 1250px;
	height: 125px;
	border-bottom: 1px solid gainsboro;
}
.topy1,.topy2,.topy3,.topy4,.topy5,.topy6 {
	width: 405px;
	height: 125px;
	margin-left: 10px;
	/*border: 1px solid red;*/
	float:left;
}
.topy1-left,.topy1-right,.topy2-left,.topy2-right,
.topy3-left,.topy3-right,.topy4-left,.topy4-right,
.topy5-left,.topy5-right,.topy6-left,.topy6-right{
	float:left;
}
.topy1-left,.topy2-left,.topy3-left,
.topy4-left,.topy5-left,.topy6-left{
	width:80px;
	height:80px;
	margin-top: 22px;
	border: 1px solid gainsboro;
	border-radius:40px ;
}
.topy1-left img{
	margin-top: 8px;
	margin-left: 4px;
}
.topy1-left:hover{
	background:#8c2;
}
.topy2-left:hover{
	background:#8c2;
}
.topy3-left:hover{
	background:#8c2;
}
.topy4-left:hover{
	background:#8c2;
}
.topy5-left:hover{
	background:#8c2;
}
.topy6-left:hover{
	background:#8c2;
}
.topy1-right,.topy2-right,.topy3-right,
.topy4-right,.topy5-right,.topy6-right{
	width:315px;
	height:80px;
	margin-top: 22px;
	margin-left: 5px;
}
.topy1-right,.topy2-right,.topy4-right,.topy5-right{
	border-right: 1px solid gainsboro;
}
.topy1-right dt,.topy2-right dt,.topy3-right dt,
.topy4-right dt,.topy5-right dt,.topy6-right dt{
	font-family: "楷体";
	font-weight: bold;
	color: limegreen;
}
.topy1-right ul,.topy2-right ul,.topy3-right ul,
.topy4-right ul,.topy5-right ul,.topy6-right ul{
	width:315px;
	height:60px;
	/*border: 1px solid red;*/
	float:left;
	/*margin-top: 25px;*/
}
.topy1-right ul li{
	width:52px;
	height:30px;
	/*border: 1px solid red;*/
	float:left;
}
.topy1-right ul li a,.topy2-right ul li a,.topy3-right ul li a,
.topy4-right ul li a,.topy5-right ul li a,.topy6-right ul li a{
	font-size: 15px;
	/*font-family: "楷体";
	font-weight: bold;*/
	color:black;
	text-align: center;
	line-height: 30px;
}
.topy1-right ul li a:hover{
	color:#8c2;
}
.topy2-right ul li a:hover{
	color:#8c2;
}
.topy3-right ul li a:hover{
	color:#8c2;
}
.topy4-right ul li a:hover{
	color:#8c2;
}
.topy5-right ul li a:hover{
	color:#8c2;
}
.topy6-right ul li a:hover{
	color:#8c2;
}
.topy2-left img{
	margin-left: 11px;
	margin-top: 5px;
}

.topy2-right ul li{
	width:52px;
	height:30px;
	/*border: 1px solid red;*/
	float:left;
}
.topy3-left img{
	margin-top: 10px;
	margin-left: 10px;
}
.topy3-right ul li{
	width:75px;
	height:30px;
	/*border: 1px solid red;*/
	float:left;
}
.topy4-left img{
	margin-top: 12px;
	margin-left: 8px;
}
.topy4-right ul li{
	width:78px;
	height:30px;
	/*border: 1px solid red;*/
	float:left;
}
.topy5-left img{
	margin-left: 5px;
	
}
.topy5-right ul li{
	width:78px;
	height:30px;
	/*border: 1px solid red;*/
	float:left;
}
.topy6-left img{
	margin-top: 10px;
	margin-left: 10px;
}
.topy6-right ul li{
	width:60px;
	height:30px;
	/*border: 1px solid red;*/
	float:left;
}
.mainy{
	width: 1250px;
	/*position: relative;
	left: 50%;
	margin-left: -625px;*/
	margin-top: 50px;
}
/*.mainy-top{*/
	/*width: 1250px;*/
	/*height: 250px;*/
	/*border: 1px solid red;*/
/*}*/
.mainy-bottom{
	width: 1250px;
	/*border: 1px solid red;*/
	margin-top: 50px;
}
.m-b-1{
	width: 1250px;
	height: 500px;
	/*border: 1px solid red;*/
}
.m-b-1-top,.m-b-2-top,.m-b-3-top{
	width: 1250px;
	height: 50px;
	/*border: 1px solid red;*/
}
.left1,.left2,.left3,.right1,.right2,.right3{
	float:left;
}
.left1{
	width: 200px;
	height: 50px;
}
.left2{
	width: 200px;
	height: 50px;
}
.left3{
	width: 130px;
	height: 50px;
}
.right1{
	width: 100px;
	height: 40px;
	margin-left: 900px;
	margin-top: -10px;
	/*border: 1px solid red;*/
	border-radius: 20px;
	background: rgba(0,0,0,0.06);
}
.right2{
	width: 100px;
	height: 40px;
	margin-left: 900px;
	margin-top: -10px;
	/*border: 1px solid red;*/
	border-radius: 20px;
	background: rgba(0,0,0,0.06);
}
.right3{
	width: 200px;
	height: 50px;
}
.m-b-1-top a,.m-b-2-top a,.m-b-3-top a{
	color:black;
	font-family: "楷体";
	font-weight: bold;
}
.m-b-1-bottom,.m-b-2-bottom{
	width: 1250px;
	height: 450px;
	/*border: 1px solid red;*/
}
.m-b-1-1,.m-b-1-2,.m-b-1-3,.m-b-1-4{
	float: left;
}
.m-b-1-1{
	width: 270px;
	height: 450px;
	/*border: 1px solid red;*/
}
.m-b-1-11{
	width: 270px;
	height: 380px;
	/*border: 1px solid red;*/
	/*border-radius: 40px;*/
}
.m-b-1-11 img{
	width: 270px;
	height: 380px;
	border-radius: 30px;
}

.sim-anim-1{
	position: relative;
	}	
.sim-anim-1 img{
	position: absolute;
	-webkit-transition: all 0.5s ;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	}
.sim-anim-1:hover img{
	z-index: 1;
	}
.sim-anim-1:hover img:nth-child(1){
    -ms-transform: translate(0,-40%) scale(0.5,0.5);
   	-webkit-transform: translate(0,-40%) scale(0.5,0.5);
    transform: translate(0,-40%) scale(0.5,0.5);
	}			
.sim-anim-1:hover img:nth-child(2){
    -ms-transform: translate(0,-20%) scale(0.7,0.7);
   	-webkit-transform: translate(0,-20%) scale(0.7,0.7);
    transform: translate(0,-20%) scale(0.7,0.7);
	}		
.sim-anim-1:hover img:nth-child(3){
    -ms-transform: scale(0.9,0.9) ; 
   	-webkit-transform: scale(0.9,0.9); 
    transform: scale(0.9,0.9); 
	}		
.sim-anim-1:hover img:nth-child(4){
    -ms-transform: translate(0,20%) scale(1.1,1.1);
   	-webkit-transform: translate(0,20%) scale(1.1,1.1);
    transform: translate(0,20%) scale(1.1,1.1);
	}
	
.m-b-1-12 a{
	color: black;
}
.m-b-1-12-1{
	width: 150px;
	height: 35px;
	margin-left: 60px;
	/*border: 1px solid red;*/
	text-align: center;
	line-height: 35px;
}
.m-b-1-12-2 img{
	margin-top: 5px;
}
.m-b-1-12{
	width: 270px;
	height: 70px;
	/*border: 1px solid red;*/
}
.m-b-1-2{
	width: 270px;
	height: 450px;
	/*border: 1px solid red;*/
	margin-left: 57px;
}
.m-b-1-3{
	width: 270px;
	height: 450px;
	/*border: 1px solid red;*/
	margin-left: 57px;
}
.m-b-1-4{
	width: 270px;
	height: 450px;
	/*border: 1px solid red;*/
	margin-left: 56px;
}
.m-b-2{
	width: 1250px;
	height: 520px;
	margin-top: 50px;
	/*border: 1px solid red;*/
}
.m-b-2-1,.m-b-2-2,.m-b-2-3,.m-b-2-4{
	float: left;
}
.m-b-2-1{
	width: 270px;
	height: 470px;
	/*border: 1px solid red;*/
	background: ghostwhite;
	border-radius: 30px;
}
.m-b-2-11{
	width: 270px;
	height: 250px;
	/*border: 1px solid blue;*/
}
.m-b-2 img{
	border-radius: 125px;
	margin-left: 10px;
}
.m-b-2 img:hover{
	 animation:go ease-in 5s;
}
@keyframes go{
  0% {
     transform: rotate(0);
  }
  50%{
    transform: rotate(180deg);
  }
  100% {
     transform: rotate(360deg);
  }
}
.m-b-2-12{
	width: 270px;
	height: 200px;
	/*border: 1px solid blue;*/
}
.m-b-2-12-top{
	width: 270px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	/*border: 1px solid blue;*/
}
.m-b-2-12-top a{
	color:black;
	font-family: "楷体";
	font-size: 25px;
}
.m-b-2-12-bottom{
	width: 230px;
	height: 150px;
	/*border: 1px solid blue;*/
	font-size: 16px;
	/*font-family: "楷体";*/
	margin-left: 20px;
}
.m-b-2-2{
	width: 270px;
	height: 470px;
	margin-left: 53px;
	/*border: 1px solid red;*/
	background: ghostwhite;
	border-radius: 30px;
}
.m-b-2-3{
	width: 270px;
	height: 470px;
	margin-left: 53px;
	/*border: 1px solid red;*/
	background: ghostwhite;
	border-radius: 30px;
}
.m-b-2-4{
	width: 270px;
	height: 470px;
	margin-left: 53px;
	/*border: 1px solid red;*/
	background: ghostwhite;
	border-radius: 30px;
}
.m-b-3{
	width: 1250px;
	height: 470px;
	margin-top: 50px;
	/*border: 1px solid red;*/
}
.m-b-3-bottom{
	width: 1250px;
	height: 380px;
	/*border: 1px solid red;*/
}
.m-b-3-1,.m-b-3-2,.m-b-3-3{
	float:left;
}
.m-b-3-1{
	width: 390px;
	height: 380px;
	background-color: rgba(0,0,0,0.05);
	/*border: 1px solid blue;*/
	border-radius: 50px;
}
.m-b-3-2{
	width: 390px;
	height: 380px;
	margin-left: 37px;
	background-color: rgba(0,0,0,0.05);
	border-radius: 50px;
	/*border: 1px solid blue;*/
}
.m-b-3-3{
	width: 390px;
	height: 380px;
	margin-left: 37px;
	background-color: rgba(0,0,0,0.05);
	border-radius: 50px;
	/*border: 1px solid blue;*/
}
.m-b-3-11{
	width: 390px;
	height: 250px;
	position: relative;
    /*float: left;*/
	/*border: 1px solid red;*/
}

/*.bofang{
    border-radius: 50px;
    width: 390px;
    height: 250px;
    background: #ff0000;
    margin-top: -255px;
    background: url("../img/start.jpg") no-repeat center center;
    background-size: 20%;
}*/

.m-b-3-11 img{
	border-radius: 50px;
	width: 390px;
	height: 250px;
}

.sim-anim-6{
	position: relative;

	}	
.sim-anim-6 img{
	position: absolute;
	-webkit-transition: all 0.5s ;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	}
.sim-anim-6:hover img{
	z-index: 1;
	}		
.sim-anim-6:hover img:nth-child(1){
    -ms-transform:translate(-20%,-85%) scale(0.8,0.8) rotate(-20deg); 
   	-webkit-transform: translate(-20%,-85%) scale(0.8,0.8) rotate(-20deg); 
    transform: translate(-20%,-85%) scale(0.8,0.8) rotate(-20deg); 
	}		
.sim-anim-6:hover img:nth-child(2){
    -ms-transform:translate(-80%,45%) scale(0.8,0.8) rotate(-20deg); 
   	-webkit-transform: translate(-80%,45%) scale(0.8,0.8) rotate(-20deg); 
    transform: translate(-80%,45%) scale(0.8,0.8) rotate(-20deg);
	}		
.sim-anim-6:hover img:nth-child(3){
    -ms-transform:translate(20%,85%) scale(0.8,0.8) rotate(-20deg); 
   	-webkit-transform: translate(20%,85%) scale(0.8,0.8) rotate(-20deg); 
    transform: translate(20%,85%) scale(0.8,0.8) rotate(-20deg);	
	}		
.sim-anim-6:hover img:nth-child(4){
    -ms-transform: translate(80%,-45%) scale(0.8,0.8) rotate(-20deg); 
   	-webkit-transform: translate(80%,-45%) scale(0.8,0.8) rotate(-20deg); 
    transform: translate(80%,-45%) scale(0.8,0.8) rotate(-20deg); 
	}	
.sim-anim-6:hover img:nth-child(5){
    -ms-transform:translate(-100%,-40%) scale(0.8,0.8) rotate(-20deg); 
   	-webkit-transform: translate(-100%,-40%) scale(0.8,0.8) rotate(-20deg); 
    transform: translate(-100%,-40%) scale(0.8,0.8) rotate(-20deg);
	}
.sim-anim-6:hover img:nth-child(6){
    -ms-transform:translate(100%,40%) scale(0.8,0.8) rotate(-20deg); 
   	-webkit-transform: translate(100%,40%) scale(0.8,0.8) rotate(-20deg); 
    transform: translate(100%,40%) scale(0.8,0.8) rotate(-20deg);
	}
.sim-anim-6:hover img:nth-child(7){
    -ms-transform:translate(60%,-130%) scale(0.8,0.8) rotate(-20deg); 
   	-webkit-transform: translate(60%,-130%) scale(0.8,0.8) rotate(-20deg); 
    transform: translate(60%,-130%) scale(0.8,0.8) rotate(-20deg);
	}
.sim-anim-6:hover img:nth-child(8){
    -ms-transform:translate(-60%,130%) scale(0.8,0.8) rotate(-20deg); 
   	-webkit-transform: translate(-60%,130%) scale(0.8,0.8) rotate(-20deg); 
    transform: translate(-60%,130%) scale(0.8,0.8) rotate(-20deg);
	}	
.sim-anim-6:hover img:nth-child(9){
     -ms-transform: scale(1.2,1.2) rotate(-20deg); 
   	-webkit-transform: scale(1.2,1.2) rotate(-20deg); 
    transform: scale(1.2,1.2) rotate(-20deg);
	}	
	
.sim-anim-8{
	position: relative;
	}	
.sim-anim-8 img{
	position: absolute;
	-webkit-transition: all 0.5s ;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	}
.sim-anim-8:hover img{
	z-index: 1;
	}
.sim-anim-8:hover img:nth-child(1){
    -ms-transform: translate(20%,-80%) scale(0.2,0.2) rotate(-80deg); 
   	-webkit-transform: translate(20%,-80%) scale(0.4,0.2) rotate(-80deg); 
    transform: translate(20%,-80%) scale(0.2,0.2) rotate(-80deg); 
	}	
.sim-anim-8:hover img:nth-child(2){
    -ms-transform: translate(30%,-60%) scale(0.4,0.4) rotate(-60deg); 
   	-webkit-transform: translate(30%,-60%) scale(0.4,0.4) rotate(-60deg); 
    transform: translate(30%,-60%) scale(0.4,0.4) rotate(-60deg); 
	}		
.sim-anim-8:hover img:nth-child(3){
    -ms-transform: translate(40%,-40%) scale(0.6,0.6) rotate(-40deg); 
   	-webkit-transform: translate(40%,-40%) scale(0.6,0.6) rotate(-40deg);  
    transform: translate(40%,-40%) scale(0.6,0.6) rotate(-40deg); 
	}	
.sim-anim-8:hover img:nth-child(4){
    -ms-transform:translate(50%,-20%) scale(0.8,0.8) rotate(-20deg); 
   	-webkit-transform: translate(50%,-20%) scale(0.8,0.8)rotate(-20deg); 
    transform: translate(50%,-20%) scale(0.8,0.8) rotate(-20deg); 
	}
.sim-anim-8:hover img:nth-child(5){
    -ms-transform: translate(-20%,-80%) scale(0.2,0.2) rotate(80deg); 
   	-webkit-transform: translate(-20%,-80%) scale(0.4,0.2) rotate(80deg); 
    transform: translate(-20%,-80%) scale(0.2,0.2) rotate(80deg); 
	}			
.sim-anim-8:hover img:nth-child(6){
    -ms-transform: translate(-30%,-60%) scale(0.4,0.4) rotate(60deg); 
   	-webkit-transform: translate(-30%,-60%) scale(0.4,0.4) rotate(60deg); 
    transform: translate(-30%,-60%) scale(0.4,0.4) rotate(60deg); 
	}			
.sim-anim-8:hover img:nth-child(7){
    -ms-transform: translate(-40%,-40%) scale(0.6,0.6) rotate(40deg); 
   	-webkit-transform: translate(-40%,-40%) scale(0.6,0.6) rotate(40deg);  
    transform: translate(-40%,-40%) scale(0.6,0.6) rotate(40deg); 
	}		
.sim-anim-8:hover img:nth-child(8){
    -ms-transform:translate(-50%,-20%) scale(0.8,0.8) rotate(20deg); 
   	-webkit-transform: translate(-50%,-20%) scale(0.8,0.8) rotate(20deg); 
    transform: translate(-50%,-20%) scale(0.8,0.8) rotate(20deg); 
	}		
.sim-anim-8:hover img:nth-child(9){
 -ms-transform: translate(0,20%) scale(1.1,1.1); 
   	-webkit-transform: translate(0,20%) scale(1.1,1.1);  
    transform: translate(0,20%) scale(1.1,1.1);  
	}
	
		
.sim-anim-2{
	position: relative;
	-webkit-perspective: 500px; /* Chrome, Safari, Opera */
    perspective: 500px;
	
	}	
.sim-anim-2 img{
	position: absolute;
	-webkit-transition: all 0.5s ;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	}
.sim-anim-2:hover img{
	z-index: 1;
	}
.sim-anim-2:hover img:nth-child(1){
     -ms-transform: translate(0,75%) scale(0.7,0.7) rotateX(10deg);
   	-webkit-transform: translate(0,75%)  scale(0.7,0.7) rotateX(10deg);  
    transform: translate(0,75%)  scale(0.7,0.7) rotateX(10deg);
	
	}	
.sim-anim-2:hover img:nth-child(2){
     -ms-transform: translate(72%,75%) scale(0.7,0.7) rotateX(10deg);
   	-webkit-transform: translate(72%,75%)  scale(0.7,0.7) rotateX(10deg);  
    transform: translate(72%,75%)  scale(0.7,0.7) rotateX(10deg);
	}		
.sim-anim-2:hover img:nth-child(3){
     -ms-transform: translate(-72%,75%) scale(0.7,0.7) rotateX(10deg);
   	-webkit-transform: translate(-72%,75%)  scale(0.7,0.7) rotateX(10deg);  
    transform: translate(-72%,75%)  scale(0.7,0.7) rotateX(10deg);

	}	
.sim-anim-2:hover img:nth-child(4){
    -ms-transform: translate(-72%,0) scale(0.7,0.7) rotateX(10deg);
   	-webkit-transform: translate(-72%,0)  scale(0.7,0.7) rotateX(10deg);  
    transform: translate(-72%,0)  scale(0.7,0.7) rotateX(10deg); 
	  
	}		
.sim-anim-2:hover img:nth-child(5){
    -ms-transform: translate(72%,0) scale(0.7,0.7) rotateX(10deg);
   	-webkit-transform: translate(72%,0)  scale(0.7,0.7) rotateX(10deg);  
    transform: translate(72%,0)  scale(0.7,0.7) rotateX(10deg);
 
	}	
.sim-anim-2:hover img:nth-child(6){
    -ms-transform: translate(72%,-70%) scale(0.7,0.7) rotateX(10deg);
   	-webkit-transform: translate(72%,-70%)  scale(0.7,0.7) rotateX(10deg);  
    transform: translate(72%,-70%)  scale(0.7,0.7) rotateX(10deg); 
	
	}	
.sim-anim-2:hover img:nth-child(7){
    -ms-transform: translate(-72%,-70%)  scale(0.7,0.7) rotateX(10deg);  
   	-webkit-transform: translate(-72%,-70%)  scale(0.7,0.7) rotateX(10deg);  
    transform: translate(-72%,-70%)  scale(0.7,0.7) rotateX(10deg); 
	
	}		
.sim-anim-2:hover img:nth-child(8){
    -ms-transform: translate(0,-70%) scale(0.7,0.7) rotateX(10deg); 
   	-webkit-transform: translate(0,-70%) scale(0.7,0.7) rotateX(10deg);
    transform: translate(0,-70%) scale(0.7,0.7) rotateX(10deg);
 
	}	
.sim-anim-2:hover img:nth-child(9){
    -ms-transform: scale(0.7,0.7) rotateX(10deg); 
   	-webkit-transform:scale(0.7,0.7) rotateX(10deg);
    transform: scale(0.7,0.7) rotateX(10deg); 
	}	
/*.m-b-3 img:hover{
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
    opacity:0.5;
}*/
.m-b-3-12{
	width: 390px;
	height: 130px;
	/*border: 1px solid red;*/
}
.m-b-3-12-top{
	width: 390px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	/*border: 1px solid blue;*/
	font-family: "楷体";
	font-size: 25px;
	font-weight: bold;
}
.m-b-3-12-top a{
	color: black;
}
.m-b-3-12-bottom{
	width: 390px;
	height: 80px;
	/*border: 1px solid blue;*/
}
.m-b-3-12-bottom dt,.m-b-3-12-bottom img,.m-b-3-12-bottom a{
	float:left;
}
.m-b-3-12-bottom dt,.m-b-3-12-bottom a{
	text-align: center;
	line-height: 80px;
	color:black;
}
.m-b-3-12-bottom img{
	margin-top: 15px;
	margin-left: 10px;
	border-radius: 25px;
}
.writer,.liuyan{
	float:left;
}
.writer{
	width: 210px;
	height: 80px;
	/*border: 1px solid blue;*/
}
.liuyan{
	width: 145px;
	height: 80px;
	/*border: 1px solid blue;*/
	margin-left: 30px;
}
